.App {
  width: 100%;
  font-family: roboto;
  display: flex;
}

.Sidebar {
  height: 100vw;
  width: 20%;
  position: fixed;
  background: linear-gradient(134deg, rgb(43, 0, 122), rgb(98, 0, 119), rgb(139, 0, 117), rgb(255, 78, 96), rgb(255, 114, 84), rgb(255, 144, 69), rgb(255, 171, 49));
}

.SidebarModule {
  width: 90%;
  padding: 5%;
  height: 6vh;
  display: flex
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #FFF7A3
}

a::after {
  color: white;
}

.courseMaterial {
  width: 75%;
  margin-left: 22.5%;
}




/*----------LESSON STYLING----------*/
.Lesson {
  width: 100%;
  background-color: #eee;
}

.Lesson:hover {
  background-color: #ddd;
}

.lesson > *{
  width: 25%;
  display: flex;
  justify-content: center;
}

.lesson, .TextbookChapter, .Playlist, .chapNums, .iconContainer{
  display: flex;
  justify-content: center;
}

.ChapterNumber {
  margin-right: 15px;
  cursor: pointer;
}

.material-icons {
  cursor: pointer;
  align-self: center;
}









