.App {
  width: 100%;
  font-family: roboto;
  display: flex;
  flex-direction: column;
}

/*----------SIDEBAR STYLES----------*/
.Sidebar {
  height: 100vw;
  width: 20%;
  position: fixed;
  background: linear-gradient(134deg, rgb(43, 0, 122), rgb(98, 0, 119), rgb(139, 0, 117), rgb(255, 78, 96), rgb(255, 114, 84), rgb(255, 144, 69), rgb(255, 171, 49));
  box-shadow: 5px 3px 15px #3C007955;
  display: flex;
  flex-direction: column;
  transition: all 350ms cubic-bezier(0.150, 0.350, 0.15, 1.2);
}

.SidebarClosed {
  width: 3%
}

.sidebarToggle {
  background: transparent;
  border: none;
  outline: none;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  transition: 300ms;
  align-self: flex-end;
  margin-top:5px;
}

.sidebarToggleClosed {
  -webkit-transform:rotate(0deg);
  transform: rotate(0deg)
} 

.addIcon {
  color: white;
}

.homeIcon {
  font-size: 3em;
}


/*----------SIDEBAR MODULE STYLES----------*/

.SidebarModule {
  width: 90%;
  padding: 5%;
  height: 6vh;
  display: flex
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #FFF7A3
}

a::after {
  color: white;
}

.courseMaterial {
  align-self: flex-end;
  transition: all 350ms cubic-bezier(0.150, 0.350, 0.15, 1.2);
  margin-right: 2%
}

/*----------SIDEBAR MODULE STYLES----------*/

/*----------LANDING STYLING----------*/
  
  .Landing {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  hr {
    border-style: solid;
    border: 0.5px solid #ED6562;
    margin: 30px;
  }

  table{
    text-align: left;
  }

  table > *:nth-child(even) {
    background-color: #3C007922;
  }

  td,th{
    padding: 1em;
  }

  .useful {
    width: 30%
  }


/*----------LANDING STYLING----------*/


/*----------LESSON STYLING----------*/
.Lesson {
  width: 100%;
  background-color: #eee;
}

.Lesson:hover {
  background-color: #ddd;
}

.lesson > *{
  width: 25%;
  display: flex;
  justify-content: center;
}

.lesson, .TextbookChapter, .Playlist, .chapNums, .iconContainer{
  display: flex;
  justify-content: center;
}

.ChapterNumber {
  margin-right: 15px;
  cursor: pointer;
}

.material-icons {
  cursor: pointer;
  align-self: center;
}

/*----------LESSON STYLING----------*/

/*----------SICP----------*/
.SICP {
  text-align: center;
}

ul{
  text-align: left;
  margin-left: 38%;
}
/*----------SICP----------*/

/*----------coming soon----------*/
.comingSoon{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ddd;
  text-align: center;
  height: 350px;
  width: 80%;
  margin: 150px 0px 0px 50px;
  box-shadow: 5px 5px 20px #A9356C33;
  border-radius: 3px;
}






